body{
    background-color: rgb(34, 34, 60);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}

#title{ 
    flex-direction: column;
    line-height: 10px;}

li{
    display: inline-block;
    margin: 20px;}

a{
    color: white;
    font-size: 25px;}

a:hover{
    color: rgb(160, 30, 200);}

h1{
    color: rgb(151, 40, 233);
    font-weight: 200;
    font-size: 45px;}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;}

.ctd{
    border-top: 0.3px solid white;}

h2{
    font-size: 50px;
    line-height: 10px;}

spam{
    color: rgb(255, 190, 0)
}
    

p{  display:flex;
    flex-direction: row;
    align-items: center;
    line-height: 25px;
    font-size: 25px;}

img{
    width: 300px; }

.dir{
    text-align: right;}

.conteudo-principal-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;}

.conteudo-principal-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;}

.texto1{
    display: flex;
    align-items: right;
    justify-content: space-around;
    line-height: 40px;
    font-size: 30px;
}
